.App {
  text-align: center;
}

#root {
  max-width: 100vw;
  overflow: hidden;
}

.left {
  max-width: 100%;
  background: black;
  --text-color: white;
  --secondary-text-color: lightgrey;
  margin-bottom: 24px;
  padding: 24px;
}

.right {
  z-index: 1;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: 24px;
  padding-right: 24px;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  float: left;
  width: 100%;
}

.row {
  display: flex;
  width: 100%;
  flex-grow: 1;
  margin-top: 2%;
  align-items: center;
  justify-content: center;
}

.image1 {
  max-width: 30%;
  max-height: 70%;
  object-fit: cover;
  margin-right: 2%;
  margin-bottom: 10%;
}

.image2 {
  max-width: 50%;
  max-height: 100%;
  object-fit: cover;
}

.image34 {
  margin-top: 2%;
  margin-right: 2%;
  max-width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.image3 {
  max-width: 400px;
  width: 65%;
  object-fit: cover;
}

.image4 {
  max-width: 400px;
  width: 40%;
  height: 40%;
  object-fit: cover;
  margin-top: 4%;
}

.image5 {
  max-width: 400px;
  width: 40%;
  object-fit: cover;
  margin-right: -15%;
}

.right img {
  filter: drop-shadow(3px 4px 6px rgba(0, 0, 0, 0.25));
  border: 5px solid #151a1f;
}

@media (min-width: 1280px) {
  .MuiContainer-maxWidthLg {
    max-width: 1280px;
  }
}

@media (min-width: 700px) {
  .left {
    width: 100%;
    float: left;
    max-width: 400px; /* The width is 20%, by default */
    --text-color: black;
    --secondary-text-color: #585858;
    background: transparent;
    margin-bottom: 0px;
    padding-right: 0px;
  }

  .main {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .row {
    justify-content: flex-end;
  }

  .right {
    overflow: visible;
    padding-right: 24px;
    width: 100%;
  }
}
